@tailwind base;
@tailwind components;
@tailwind utilities;

.progressid-3 {
  color: rgb(112, 226, 255);
}
.progressid-4 {
  color: rgb(112, 226, 255);
}

.progressid-1 {
  color: rgb(255, 50, 50);
}
